{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
	        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
    	{% if post.published_date %}
	        <div class="date">
	            <p>published: {{ post.published_date }}</p>
	        </div>
        {% else %}
            <div class="date">
                <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                <p>created: {{ post.created_date|date:'Y-m-d H:i:s' }}</p>
            </div>
        {% endif %}
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}